
label {
    color: blue;
}
h1{
    color:white;
    text-align: center;
}
h5{
    color:white;
    text-align: center;

}
.required{
    color:red;
}
.otp{
    text-align: center;
}
h2{
    color: white;
    text-align: center;
}
p{
    color:red;
    text-align: center;
}
.centered-text{
    color:red;
}
.red-text{
    color:red;
}
.p1{
    display:inline-block;
    width:33.3%;
}
.p2{
    display:inline-block; 
    width:33.3%; 
}
.p3{
    display:inline-block;
    width:33.3%;
}
.button{
text-align: center;
}
.button1{
    text-align: center;

}
.sana{
    text-align: left;
}
.time{
    text-align:right;
}
.text{
    color:white;
}
.footer {
    position: relative;
    text-align: center;
    background-color: darkblue;
}
span{
    color:red;
}
.preview{
    background-color: blue;
}
button{
    background-color: blue;
}
.points{
    color:blue;
}
.list{
    color:blue
}

